@defaultBgColor : #1ab394;
@defaultBodyWidth: 800px;

.container{
	width:100% !important;
}

body{
	background-color:@defaultBgColor;
}

.wrapper{
	width:@defaultBodyWidth;
	margin:40px auto 0px auto;
	background-color:#fff;
	font-family:Georgia,"Times New Roman",Times,serif;
}


header{

}
.home-logo{
	position:relative;
	bottom:50px;
}
#footer{
	border-radius: 0;
	clear:both;
}