.img-gallery {
  margin: 10px 0;
}
.container {
  width: 100% !important;
}
.carousel-adjust {
  margin: auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
}
body {
  background-color: #1ab394;
}
.wrapper {
  margin: 40px 10px 0px 10px;
  background-color: #fff;
  font-family: "Times New Roman", sans-serif;
}
.home-logo {
  position: relative;
  bottom: 50px;
}
#footer {
  border-radius: 0;
  clear: both;
}
