.img-gallery {
  margin: 10px 0;
}
.slider-content {
  width: 42%;
  margin: auto;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin: auto;
}
body {
  background-color: #1ab394;
}
.wrapper {
  margin-top: 20px;
  background-color: #fff;
  font-family: "Times New Roman", sans-serif;
}
.home-logo {
  position: relative;
  bottom: 50px;
}
#map-canvas {
  height: 250px;
  width: 250px;
}
#footer {
  border-radius: 0;
  clear: both;
}
