<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-sm-12 col-xs-12">
			<h2>Contact Info</h2>
				<div id="map-canvas"></div>
				<h3>Postal Address</h3>
				<address>
					727 Colorado Blvd <br> Denver, CO - 80206 <br> Phone:
					(303) 351-5555 <br> Email: taj@restauarant.org
				</address>
		</div>
		<div class="col-lg-6 col-sm-12 col-xs-12">
			<h2>Get In Touch</h2>
				<div id="contacFormDiv">
					<form action="#" id="contactForm" method="POST">
						<table id="contactFormTable">
							<tr>
								<td><label for="name">Name<font class="required">*</font></label></td>
								<td><input type="text" name="name" id="name" /></td>
							</tr>
							<tr>
								<td><label for="email">Email<font class="required">*</font></label></td>
								<td><input type="text" name="email" id="email" /></td>
							</tr>
							<tr>
								<td><label for="subject">Subject<font
										class="required">*</font></label></td>
								<td><input type="text" name="subject" id="subject" /></td>
							</tr>
							<tr>
								<td>Message<font class="required">*</font></td>
								<td><textarea rows="5" cols="30" id="message"
										name="message"></textarea></td>
							</tr>
						</table>
						<div class="submitButton">
							<input type="submit" value="Send Message" id="clickMe" />
						</div>
					</form>
					<div id="contactMessage"></div>
				</div>
		</div>
	</div>
</div>