<div class="gallery-content">
	<div class="container">
		<div class="row" >
			<div class="col-lg-4 col-sm-6 col-xs-12 ">
				<a href="images/gallery1.jpg" rel="gallery"> <img
					src="images/gallery1.jpg" class="img-responsive img-rounded img-gallery"
					title="Click to view large image"
					alt="Dining hall set with tables and chairs" /></a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="images/gallery2.jpg" rel="gallery"> <img
					src="images/gallery2.jpg" class="img-responsive img-rounded img-gallery"
					title="Click to view large image"
					alt="Dining hall set with tables and chairs from middle view" /></a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="images/gallery3.jpg" rel="gallery"> <img
					src="images/gallery3.jpg" class="img-responsive img-rounded img-gallery"
					title="Click to view large image"
					alt="Closer view buffet table with variety of food" /></a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="images/gallery4.jpg" rel="gallery"> <img
					src="images/gallery4.jpg" class="img-responsive img-rounded img-gallery"
					title="Click to view large image"
					alt="Buffet table with variety of food" /></a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="images/gallery5.jpg" rel="gallery"> <img
					src="images/gallery5.jpg" class="img-responsive img-rounded img-gallery"
					title="Click to view large image"
					alt="Closer view of flowers decorated in dining hall" /></a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="images/gallery6.jpg" rel="gallery"> <img
					src="images/gallery6.jpg" class="img-responsive img-rounded img-gallery"
					title="Click to view large image"
					alt="beautiful hanging lamp in dining hall" /></a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="images/gallery7.jpg" rel="gallery"> <img
					src="images/gallery7.jpg" class="img-responsive img-rounded img-gallery"
					title="Click to view large image"
					alt="wooden carving in dining hall" /></a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="images/gallery8.jpg" rel="gallery"> <img
					src="images/gallery8.jpg" class="img-responsive img-rounded img-gallery"
					title="Click to view large image"
					alt="Cup of mango fruit and icecream"/></a>
			</div>
			<div class="col-lg-4 col-sm-6 col-xs-12">
				<a href="images/gallery9.jpg" rel="gallery"> <img
					src="images/gallery9.jpg" class="img-responsive img-rounded img-gallery"
					title="Click to view large image" alt="A plate of chicken biryani" /></a>
			</div>
		</div>
	</div>
</div>